
body {
    background-color: #FFFFFF;
}

button, input {
    border-radius: 10px;
}

h2, h5 {
    text-align: center;
}

#guest-button #user-signin-button #new-reg-button {
    background-color: #E2E7FF;
    position: relative;
    text-align: center;
    padding: 10px;
    outline: none;
}

.index-page-title {
    text-align: center;
}

.index-page-title-subscript {
    text-align: center;
}

#index-page-character-drawing {
    padding: 10px;
    height: 150px;
    width: 150px;
}

#bungee-hairline { 
    font-family: 'Bungee Hairline', cursive;
}

#bungee-shade { 
    font-family: 'Bungee Shade', cursive;
}

#fredoka-one, #welcome-user { 
    font-family: 'Fredoka One', cursive;
}

#index-page-inputs {
    display: inline-block;
}

.registration .sign-in {
    text-align: center;
}

.registration input {
    width: 100%;
    float: right;
    clear: left;
}

.sign-in input {
    width: 100%;
    float: right;
    clear: left;
}

#asset-upload-form {
    position: relative;
    width: 250px;
    margin: 10px;
    right: 10px;
}

#file-input-field, #file-upload-button {
    background-color: #D8E2DC;
    position: relative;
    left: 20px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    outline: none;
}

#file-input-field {
    color:transparent;
}

#main-page-title {
    float: left;
}

#sign-out-button {
    background-color: #D8E2DC;
    position: relative;
    float: right;
    margin: 10px;
    outline: none;
}

#new-chapter-board-button, #save-as-button, #new-registration-button,
#user-sign-in-button, #guest-sign-in-button  {
    background-color: #d7ffd3;
    position: relative;
    margin: 10px;
    left: 10px;
    padding: 10px;
    outline: none;
}