
body {
    background-color: #FFFFFF;
}

button, input {
    border-radius: 10px;
}

h2 {
    text-align: center;
}

#bungee-outline { 
    font-family: 'Bungee Outline', cursive;
}

#bungee-shade { 
    font-family: 'Bungee Shade', cursive;
}

#fredoka-one, #welcome-user { 
    font-family: 'Fredoka One', cursive;
}

.container {
    display: inline-block;
}

.registration .sign-in {
    text-align: center;
}

.registration input {
    width: 100%;
    float: right;
    clear: left;
}

.sign-in input {
    width: 100%;
    float: right;
    clear: left;
}


#asset-upload-form {
    position: relative;
    right: 10px;
    border-style: dashed;
    border-color: gray;
    width: 250px;
    border-radius: 25px;
    margin: 10px;
}

#file-input-field, #file-upload-button {
    background-color: #D8E2DC;
    position: relative;
    left: 20px;
    margin: 10px;
    padding: 10px;
    width: 200px;
}

#file-input-field {
    color:transparent;
}

#new-chapter-board-button, #save-as  {
    background-color: #D8E2DC;
    position: relative;
    left: 20px;
    margin: 10px;
    padding: 10px;
}