{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}

{% block content %}
<br>
<br>
<div class="container" id="index-page-title">
    <div class="row row-centered">
        <div class="col-6 col-centered">
            <h1 id="bungee-shade">StoryBored</h1>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="container" id="index-page-inputs">
    <div class="row">
        <div class="col-4">
            <div class="sign-in">
                <h2 id="fredoka-one">Guest</h2>
                <br>
                <form action="/guest-continue" method="POST" class="guest-continue">
                    <input type="submit" name="guest-sign-in" value="Continue as guest">
                </form>
            </div>
        </div>

        <div class="col-4">
            <div class="sign-in">
                <h2 id="fredoka-one">Sign In</h2>
                <br>
                <form action="/sign-in" method="POST" class="registration-inputs">
                    <input type="text" name="username" placeholder="Username"><br><br>
                    <input type="password" name="password" placeholder="Password"><br><br> 
                    <input type="submit" name="sign-in" value="Sign In">
                </form>
            </div>
        </div>

        <div class="col-4">
            <div class="registration">
                <h2 id="fredoka-one">Register</h2>
                <br>
                <form action="/register-new" method="POST" class="registration-inputs">
                    <input type="text" name="fname" placeholder="First name"><br><br>
                    <input type="text" name="lname" placeholder="Last name"><br><br>
                    <input type="text" name="email" placeholder="Email"><br><br>
                    <input type="text" name="username" placeholder="Username"><br><br>
                    <input type="password" name="password" placeholder="Password"><br><br> 
                    <input type="submit" name="register" value="Register">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}