{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}

{% block content %}
<br>
<br>
<div class="container" id="index-page-title">
    <div class="row row-centered">
        <div class="col-12 col-centered">
            <h1 id="bungee-shade" class="index-page-title">StoryBored</h1>
        </div>
    </div>
    <br>
    <div class="row row-centered">
        <div class="col-12 col-centered">
            <h3 id="bungee-hairline" class="index-page-title-subscript">
                Simple storyboarding for your creative mind
            </h3>
        </div>
    </div>
</div>
<hr>
<div class="row row-centered">
    <div class="col-2">
        <img id="index-page-character-drawing" src="static/images/character-drawing.JPG"></img>
    </div>
    <div class="col-2">
        <img id="index-page-character-drawing" src="static/images/lizard-face.JPG"></img>
    </div>
    <div class="col-2">
        <img id="index-page-character-drawing" src="static/images/mtn-sketch.png"></img>
    </div>
    <div class="col-2">
        <img id="index-page-character-drawing" src="static/images/wtf-lady.png"></img>
    </div>
    <div class="col-2">
        <img id="index-page-character-drawing" src="static/images/night-sky-paint-sample.png"></img>
    </div>
    <div class="col-2">
        <img id="index-page-character-drawing" src="static/images/drawing-desk.png"></img>
    </div>
</div>
<hr>
<div class="container" id="index-page-inputs">
    <div class="row row-centered">
        <div class="col-12 col-centered">
            <h5 id="bungee-hairline" class="index-page-title-subscript">
                upload assets &#8226 manage chapters &#8226 organize stories
            </h5>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12">
        <div class="get-started">
            <form action="/get-started" method="POST" class="get-started-form">
                <input type="submit" name="get-started" id="get-started-button" value="Let's go!">
            </form>
        </div>
    </div>
    
{% endblock %}