{% extends 'base.html' %}

{% block title %} Workspace {% endblock %}

{% block content %}


<div id="dynamic-greeting"></div>
<br>
<div id="main-page-container"></div>
<br>
<script>
    window.images="{{images}}"
    window.chapters="{{chapters}}"
    window.username="{{username}}"
</script>


<!-- <br>
<br>
<br>
<div id="image-upload-form"></div>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div id="drag-container">
            </div>
        </div>
        <div class="col-6">
            <div id="drag-container-2"></div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="image-display-box" id="image-display-container">
                <img id="contained-image" src="../static/images/smiling-ready.png" height="225" width="225">
            </div>
        </div>
        <div class="col-6">
            <div class="image-display-box" id="image-display-container-2">
                <img id="contained-image-2" src="../static/images/smiling-ready.png" height="225" width="225">
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br> -->
<script src="../static/js/main.js" type="text/babel"></script>
{% endblock %}